/build/Module 1/Analysis-00.toc
/build/Module 1/base_library.zip
/build/Module 1/EXE-00.toc
/dist/Module 1.exe
/build/Module 1/Module 1.pkg
/Module 1.spec
/build/Module 1/PKG-00.toc
/build/Module 1/PYZ-00.pyz
/build/Module 1/PYZ-00.toc
/build/Module 1/warn-Module 1.txt
/build/Module 1/xref-Module 1.html
